@font-face {
	font-family : 'Gilroy';
	font-style  : normal;
	font-weight : normal;
	src: url('../fonts/Gilroy-Light.eot');
	src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
	url('../fonts/Gilroy-Light.woff') format('woff'),
	url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype');
	font-display: swap;
}
@font-face {
	font-family : 'Gilroy';
	font-style  : normal;
	font-weight : 700;
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
	url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
	url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype');
	font-display: swap;
}
